@import '../../styles/styles.css';

#text {
    width: 100%;
    height: 92vh;
    color: white;
    background-color: black;
    
}

#react-js-example-container {
    user-select: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 30vh;
}

#react-js-text {
    font-size: var(--font-size-md);
}

#react-js-example-button {
    width: var(--font-size-2xl);
    aspect-ratio: 1/1;
    height: auto;
}