:root {
    --card-secondary-color: #FFFFFF;
    --card-word-color: 	rgb(191, 64, 191);
}
#credit-container {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    position: relative;
}

#credit-button-container {
    /* This is where the two button containers are going to be in */
    display: flex;
    /* Card width is 30% */
    width: 30%;
    justify-content: end;
    align-items: center;
    z-index:999;
    min-width: 20rem;
    margin-top: var(--font-size-xs);
}


#credit-button{
    /* This is where you change the credit button */
    color: var(--card-word-color); 
    border: 2px solid var(--card-word-color);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: var(--font-size-lg);
}

#credit-background {
    position:absolute;
    width: 100%;
    height: 92vh;
    z-index: 0;
    background-color: transparent !important;
    object-fit: cover;
}